# Define macros (only works in top-level gitattributes files)
[attr]lfs               filter=lfs diff=lfs merge=lfs -text

# 3D models
*.collada               lfs
*.dae                   lfs
*.dxf                   lfs
*.FBX                   lfs
*.fbx                   lfs
*.jas                   lfs
*.lws                   lfs
*.lxo                   lfs
*.obj                   lfs
*.ply                   lfs
*.skp                   lfs
*.stl                   lfs
*.stp                   lfs
*.usd                   lfs
*.usda                  lfs
*.usdc                  lfs
*.usdz                  lfs
*.glb                   lfs
*.gltf                  lfs

# Audio
*.aif                   lfs
*.aiff                  lfs
*.it                    lfs
*.mod                   lfs
*.mp3                   lfs
*.ogg                   lfs
*.s3m                   lfs
*.wav                   lfs
*.xm                    lfs

# Video
*.asf                   lfs
*.avi                   lfs
*.flv                   lfs
*.mov                   lfs
*.mp4                   lfs
*.mpeg                  lfs
*.mpg                   lfs
*.ogv                   lfs
*.wmv                   lfs
*.mkv                   lfs

# Images
*.bmp                   lfs
*.exr                   lfs
*.gif                   lfs
*.hdr                   lfs
*.iff                   lfs
*.jpeg                  lfs
*.jpg                   lfs
*.pict                  lfs
*.png                   lfs
*.psd                   lfs
*.tga                   lfs
*.tif                   lfs
*.tiff                  lfs
*.webp                  lfs

# Compressed Archive
*.7z                    lfs
*.bz2                   lfs
*.gz                    lfs
*.rar                   lfs
*.tar                   lfs
*.zip                   lfs

# Compiled Dynamic Library
*.dll                   lfs
*.pdb                   lfs
*.so                    lfs

# Fonts
*.otf                   lfs
*.ttf                   lfs
*.woff                  lfs
*.woff2                 lfs

# Executable/Installer
*.apk                   lfs
*.exe                   lfs

# Documents
*.pdf                   lfs
*.doc                   lfs
*.xls                   lfs
*.ppt                   lfs
*.docx                  lfs
*.xlsx                  lfs
*.pptx                  lfs

# Adobe
*.psd                   lfs
*.ai                    lfs
*.aep                   lfs
*.prproj                lfs
*.spp                   lfs

# Zbrush
*.zbr                   lfs
*.zpr                   lfs
*.ztl                   lfs
*.c4d                   lfs

# Autodesk
*.max                   lfs
*.ma                    lfs
*.mb                    lfs
*.3dm                   lfs
*.3ds                   lfs

# Blender
*.blend                 lfs
*.blend1                lfs
*.c4d                   lfs

# Imaging
*.dicom                 lfs
*.dcm                   lfs
*.nii                   lfs
*.ome                   lfs
*.map                   lfs
*.mrc                   lfs

# Others
*.abr                   lfs
*.tpl                   lfs